dbDriver             = "postgres"
dbSource             = "postgresql://root:secret@localhost:5432/simple_bank?sslmode=disable"
httpServerAddr       = "0.0.0.0:8080"
grpcServerAddr       = "0.0.0.0:9090"
tokenSymmetricKey    = "12345678901234567890123456789012"
accessTokenDuration  = "15m"
refreshTokenDuration = "24h"
